/* .container{
    margin: 0 auto;
    
}
.row{
    column-gap:normal

} */
h1 {
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 3rem;
  color: #2e4e84;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 25px;
  font-weight: 400;
}
.BUDGET{
  justify-content: space-between;
}

.lable {
  font-size: 20px;
}

.BudgetFormFirst {
  border: 1px solid rgb(27, 21, 21);
  padding: 20px;
  border-radius: 5px;
}


.size-i {
  font-size: 2.5rem;
  color: rgb(14, 15, 36);
  text-align: center;
  margin: 0 auto;
}

.amount {
  font-size: 2.5rem;
  color: #2e4e84;
  padding-left: 1rem;
}

#Error,
#ErrorEx,
#ErrorEx1 {
  color: red;
  font-weight: bold;
}

#exp-list {
  margin-left: 100px;
  color: red;
}

#BudgetAM {
  color: green;
}

#ExpenseAM {
  color: red;
}

#BalanceAM {
  color: rgb(126, 126, 174);
}
/* .row .mb-5{
  margin-left: 5px;

} */