body {
    background-image:url(/image/pexels-anna-shvets-3845757.jpg);
    background-size: cover;
    /* background-position: center center; */
}

span {
    border-style: none;
    font-size: 2.1rem;
    color: rgb(0, 185, 231);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box {
    background-image: url(/image/tooth-3296265_1280.jpg);
    background-size: cover;
    background-position: center center;
    margin-top: 80px;
    /* margin-top: 15%; */
    border-style: none;
    padding: 1%;
    border-radius: 20px;
    margin-left: 10%;
    background-color: rgb(44, 112, 112);
    height: 50%;
    width: 30%;
}

h1 {
    border-style: none;
    text-align: center;
}

select {
    border-style: none;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(94, 255, 233);
}

table {
    border-style: none;
    border-radius: 10px;
    background-color: rgb(25, 253, 215);
    color: rgb(0, 0, 0);
}

th {
    border-style: none;
    color: rgb(0, 0, 0);
    background-color: rgb(6, 182, 123);
    padding: 10px;
    border-radius: 10px;
}

td {
    border-style: none;
    color: rgb(0, 0, 0);
    background-color: rgb(6, 182, 123);
    padding: 10px;
    border-radius: 10px;
}

#apt-date {
    border-style: none;
    color: rgb(0, 68, 255);
    /* background-color: black; */
}

input {
    
    border-radius: 10px;
    padding: 5px;
}

button {
    border-style: none;
    border-radius: 10px;
    padding: 10px;
    background-color: coral;
}